.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

/* tablet - PC low resolution */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .wide {
    width: 644px;
  }
}

/* PC low resolution */
@media (min-width: 64em) and (max-width: 77.4375em) {
  .wide {
    width: 984px;
  }
}
